<div class="navbar navbar-default navbar-fixed-bottom">
    <ul class="navbar-footer-menu get-ul">
        <li toggle-class="active" class="default">
            <p ng-click="jump('/index')" class="#/index">
                <b></b>
                <span>首页</span>
            </p>
        </li>
        <li toggle-class="active" class="default">
            <p ng-click="jump('/message')" class="#/message">
                <b></b>
                <span>消息</span>
            </p>
        </li>
        <li toggle-class="active" class="default">
            <p ng-click="jump('/said')" class="#/said">
                <b></b>
                <span>言职</span>
            </p>
        </li>
        <li toggle-class="active" class="default">
            <p ng-click="jump('/mine')" class="#/mine">
                <b></b>
                <span>我</span>
            </p>
        </li>
    </ul>
</div>